@model DevIO.App.ViewModels.ClinicaViewModel

<div class="form-group">
    <label asp-for="Consultas.Data" class="control-label"></label>
    <input asp-for="Consultas.Data" class="form-control" />
    <span asp-validation-for="Consultas.Data" class="text-danger"></span>
</div>

