@model DevIO.App.ViewModels.ClinicaViewModel

@{
    ViewData["Title"] = "Nova Clinica";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        BuscaCep();
    </script>
}
