@model DevIO.App.ViewModels.ClinicaViewModel

<div class="form-group">
    <label asp-for="Consultas.Medico.Crm" class="control-label"></label>
    <input asp-for="Consultas.Medico.Crm" class="form-control" />
    <span asp-validation-for="Consultas.Medico.Crm" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Medico.Ddd" class="control-label"></label>
    <input asp-for="Consultas.Medico.Ddd" class="form-control" />
    <span asp-validation-for="Consultas.Medico.Ddd" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Medico.Idade" class="control-label"></label>
    <input asp-for="Consultas.Medico.Idade" class="form-control" />
    <span asp-validation-for="Consultas.Medico.Idade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Medico.Nome" class="control-label"></label>
    <input asp-for="Consultas.Medico.Nome" class="form-control" />
    <span asp-validation-for="Consultas.Medico.Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Medico.Telefone" class="control-label"></label>
    <input asp-for="Consultas.Medico.Telefone" class="form-control" />
    <span asp-validation-for="Consultas.Medico.Telefone" class="text-danger"></span>
</div>