@model DevIO.App.ViewModels.ClinicaViewModel

<div class="form-group">
    <label asp-for="Consultas.Paciente.Name" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Name" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Name"  class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Ddd" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Ddd" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Ddd" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Idade" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Idade" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Idade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Cpf" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Cpf" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Cpf" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Rg" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Rg" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Rg" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Ddd" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Ddd" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Ddd" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Idade" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Idade" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Idade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Consultas.Paciente.Telefone" class="control-label"></label>
    <input asp-for="Consultas.Paciente.Telefone" class="form-control" />
    <span asp-validation-for="Consultas.Paciente.Telefone" class="text-danger"></span>
</div>
